:root {
  --image-size-cart: 6.5vw;
  --image-size-cart-big: 15vw;
}
.cart {
  margin: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tape_join img {
  width: 110vw;
  height: auto;
  padding: 0;
}

.cart-header {
  width: 100vw;
  height: 12vw;
  /* background-image: linear-gradient(var(--appColor),#12121267,var(--appColor)),url('../../assets2/conor-brown-H1uISjlRXJE-unsplash.jpg');
    background-size: cover;
    background-position: center; */
  font-size: 4.5vw;
  font-family: "Cookie", cursive;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-categories {
  display: flex;
  width: 70vw;
  margin: 2vw 0 2vw 0;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
}
.cart1 {
  margin: 1.2vw 0 1.2vw 0;
  display: flex;
  align-items: center;
  width: 60vw;
  height: 10vw;
  flex-direction: row;
  background-color: var(--background_color);
  z-index: 0;
  border-radius: 1vw;
}
.cart1 img {
  z-index: 3;
  width: var(--image-size-cart);
  height: var(--image-size-cart);
  margin-left: 2vw;
  filter: drop-shadow(0px 14px 13px #121212);
}
.name_price_cart {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin: 0 0 0 1vw;
}
.Cookie_cart {
  font-size: 2vw;
  opacity: 50%;
  line-height: 94%;
}
.item_details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40vw;
}
.for_cart {
  padding-top: 1.5vw;
  font-size: 1.4vw;
}
.price_cart {
  word-spacing: 150%;
  line-height: 120%;
  font-family: "Cookie", cursive;
  font-size: 2vw;
}
.email-container-cart {
  margin-top: 1vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60vw;
  height: 4vw;
  border: 0.11rem solid var(--text_70);
  border-radius: 3vw;
  padding: 0.2vw;
}
.cost-container-cart {
  font-size: 2.5vw;
  margin-left: 3vw;
  font-family: "Cookie", cursive;
  color: var(--text_70);
}
.btn-cart {
  background-color: transparent;
  margin-right: 1vw;
  height: 4vw;
  font-weight: 600;
  font-size: 1.8vw;
  color: var(--highlight_blue);
  border-radius: 3rem;
}
.btn-cart:hover {
  background-color: var(--highlight_blue);
  color: var(--appColor);
}
@media screen and (max-width: 1024px) {
  .tape_join img {
    width: 120vw;
  }
  .cart-header {
    height: 11vw;
    font-size: 4.1vw;
  }
}
@media screen and (max-width: 768px) {
  .tape_join img {
    width: 130vw;
  }
  .cart-header {
    height: 11vw;
    font-size: 4.1vw;
  }
}
@media screen and (max-width: 426px) {
  .cart-header {
    height: 25vw;
    font-size: 8vw;
  }
  .tape_join img {
    width: 200vw;
  }
  .cart-categories {
    margin-bottom: 6vw;
  }
  .cart1 {
    margin: 1.8vw 0 1.8vw 0;
    width: 80vw;
    height: 25vw;
    border-radius: 1.5vw;
  }
  .cart1 img {
    z-index: 3;
    width: var(--image-size-cart-big);
    height: var(--image-size-cart-big);
    margin-left: 3vw;
  }
  .name_price_cart {
    margin: 0 0 0 2vw;
  }
  .Cookie_cart {
    font-size: 4.5vw;
  }
  .item_details {
    width: 55vw;
  }
  .for_cart {
    padding-top: 2vw;
    font-size: 3vw;
  }
  .price_cart {
    font-size: 4.5vw;
  }
  .email-container-cart {
    margin-top: 2vw;
    width: 85vw;
    height: 8vw;
    border-radius: 5vw;
  }
  .cost-container-cart {
    font-size: 5vw;
  }
  .btn-cart {
    font-size: 3.5vw;
  }
}
