.breadcrum{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1vw;
    font-weight: 400;
    margin: 3vw 12vw;
    text-transform: uppercase;
}
.Link_button{
    text-decoration: none;
    color: #888888;
}
.breadcrum span{
    font-size: 1vw;
    color: var(--highlight_blue);
}
@media screen and (max-width:769px) {
    .breadcrum{
    font-size: 1.5vw;
    }
    .breadcrum span{
        font-size: 1.5vw;
        color: var(--highlight_blue);
    }
}
@media screen and (max-width:426px) {
    .breadcrum{
    margin: 5vw 12vw;
    font-size: 2.4vw;
    }
    .breadcrum span{
        font-size: 2.4vw;
        color: var(--highlight_blue);
    }
}