.category1 {
    margin: 1vw;
  }
  .category1 img {
    z-index: 3;
    width: 8vw;
    filter: drop-shadow(0px 14px 13px #121212);
  }
  .text_child {
    z-index: 0;
    background-color: var(--background_color);
    margin-top: -3vw;
    width: 13vw;
    height: 14vw;
    border-radius: 1vw 1vw 6vw 1vw;
    align-items: normal;
  }
  .Cookie_heading {
    margin: 4vw 0 0 1.5vw;
    font-size: 1.6vw;
    width: 40%;
    opacity: 50%;
    line-height: 94%;
  }
  .for-best {
    font-size: 1.2vw;
    margin-top: 2vw;
  }
  .price_cookie {
    margin-top: 0.5vw;
    font-family: "Cookie", cursive;
    font-size: 2vw;
  }
  .circle_button {
    z-index: 6;
    width: var(--circle-diameter-best);
    height: var(--circle-diameter-best);
    border-radius: 100%;
    background-color: var(--circle_color);
    flex-direction: row;
    justify-content: center;
    margin: -4vw -10vw 0 0;
    filter: drop-shadow(-3px -3px 10px var(--shadow_color));
  }
  .circle_button img {
    object-fit: contain;
    width: 35%;
  }
  .circle_button:hover {
    background: var(--circle_color-select);
    cursor: pointer;
  }
  @media screen and (max-width: 426px) {
    .category1 {
      margin: 4vw;
      margin-top: 0vw;
    }
    .category1 img {
      width: 20vw;
      filter: drop-shadow(0px 14px 13px #121212);
    }
    .text_child {
      width: 28vw;
      height: 32vw;
      margin-top: -5vw;
      border-radius: 0.5rem 0.5rem 3.5rem 0.5rem;
    }
    .Cookie_heading {
      margin: 6vw 0 0 2vw;
      font-size: 4.5vw;
    }
    .for {
      font-size: 3vw;
      margin-top: 6vw;
    }
    .price_cookie {
      margin-top: 0.5vw;
      font-size: 4.2vw;
    }
    .circle_button {
      z-index: 6;
      width: var(--circle-diameter-best-large2);
      height: var(--circle-diameter-best-large2);
      border-radius: 100%;
      background-color: var(--circle_color);
      flex-direction: row;
      justify-content: center;
      margin: -8vw -20vw 0 0;
      filter: drop-shadow(-3px -3px 10px var(--shadow_color));
    }
    .circle_button img {
      object-fit: contain;
      width: 35%;
    }
  }